#%RAML 0.8
title: Twitter API OAuth2 API
version: 1.1
baseUri: https://api.twitter.com/oauth2
securitySchemes:
  - basic:
    type: Basic Authentication
/authorize:
  get:
    description: Allows a Consumer application to use an OAuth Request Token to request user authorization. This method fulfills Section 6.2 of the OAuth 1.0 authentication flow. Desktop applications must use this method (and cannot use GET oauth / authenticate).
      
      Please use HTTPS for this method, and all other OAuth token negotiation steps.
    queryParameters: 
          "oauth_token": 
            description: Base64 encoded access token from the /token endpoint
            type: string
            required: true
          "force_login": 
            description: Forces the user to enter their credentials to ensure the correct users account is authorized.
            type: string
            required: false
          "screen_name": 
            description: Prefills the username input box of the OAuth login screen with the given value.
            type: string
            required: true
/token:
  post:
      description: Allows a registered application to obtain an OAuth 2 Bearer Token, which can be used to make API requests on an application’s own behalf, without a user context. This is called Application-only authentication.

        A Bearer Token may be invalidated using oauth2/invalidate_token. Once a Bearer Token has been invalidated, new creation attempts will yield a different Bearer Token and usage of the previous token will no longer be allowed.

        Only one bearer token may exist outstanding for an application, and repeated requests to this method will yield the same already-existent token until it has been invalidated.

        As with all API v1.1 methods, HTTPS is always required.

        Successful responses include a JSON-structure describing the awarded Bearer Token.

        Tokens received by this method should be cached. If attempted too frequently, requests will be rejected with a HTTP 403 with code 99.
      securedBy: [basic]
      body:
        application/x-www-form-urlencoded:
          formParameters:
            grant_type:
              description: Specifies the type of grant being requested by the application. At this time, only client_credentials is allowed. See Application-Only Authentication for more information.
              type: string
      responses:
        200:
          body:
            application/json:
              example: |
                {"token_type": "bearer", "access_token": "ABCDEFG"}
/auth_success:
  displayName: Re-direct URL for Twitter Auth server
  get:
    description: <<send auth token and status>>
    queryParameters:
      code:
        type: string
        required: true
      status:
        type: string
        required: true